<h1>Editing unidade saude</h1>

<%= render "form", unidade_saude: @unidade_saude %>

<br>

<div>
  <%= link_to "Show this unidade saude", @unidade_saude %> |
  <%= link_to "Back to unidade saudes", unidade_saude_path %>
</div>
