<h1>Unidade Saudes</h1>

<table class="responsive nowrap table table-hover" id="dttb-unidade_saudes" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="unidade_nome">Unidade nome</th>
      <th data-data="email">Email</th>
      <th data-data="telefone">Telefone</th>
      <th data-data="cep">Cep</th>
      <th data-data="municipio">Municipio</th>
      <th data-data="unidade_federativa">Unidade federativa</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Unidade Saude', new_unidades_saude_path %>