<h3 class="text-center">Listagem de Requisições</h3>

<%= link_to 'Criar Requisição', new_requisicao_path, class:'btn btn-success' %>
<div class="row">
  <div class="col-12">
    <table id="dttb" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th> Número de Requisição</th>
        <th> Nome de Paciente</th>
      </tr>
      </thead>
      <tbody>
      <% @requisicoes.each do |requisicao| %>
        <tr>
          <td><%= link_to requisicao.numero_requisicao, requisicao %></td>
          <td><%= link_to requisicao.paciente.nome_paciente, requisicao %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


