<footer class="container-fluid border-top border-2 border-black bg-light">
  <div class="d-flex justify-content-between align-content-center my-4">
    <p>&copy; Micolab <%= Time.current.year %></p>
  </div>
</footer>