<nav>
  <nav class="navbar navbar-expand-lg bg-body-secondary border-bottom border-2 border-black">
    <div class="container-fluid mx-2">
      <a class="navbar-brand" href="#">
        <%= image_tag("petri_dish.png",width: 40) %>
        Micolab
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="btn btn-primary">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>