<% if usuario_signed_in? %>
<div class="d-flex h-100 overflow-hidden" style="height:">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary " style="width: 250px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href=<%= usuarios_path %> class="nav-link active" aria-current="page">
        Usuários
      </a>
    </li>
  
      <a href="#" class="nav-link text-white">
        Amostras
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Pacientes
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Rotina
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Resultados
      </a>
    </li>
  </ul>
  <hr>
</div>


  
<% end %>