<div class="container p-2">
  <div class="row">
    <div class="col">
      <h4>Cadastrar novos usuários</h4>
      <p>Cadastrar novos usuários no sistema</p>
    </div>
    <div class="container">
      <%= render "form" %>
    </div>
</div>    

