<h1>Editing meio cultura</h1>

<%= render "form", meio_cultura: @meio_cultura %>

<br>

<div>
  <%= link_to "Show this meio cultura", @meio_cultura %> |
  <%= link_to "Back to meio culturas", meios_culturas_path %>
</div>
